<div class='cm-partial'>
  <div><%= comment.user.name %></div>
  <div><%= comment.text %></div>
  <div class='del'
    <% if can? :destroy, comment %>
          <%= button_to "Delete", post_comment_path(comment.post, comment), method: :delete, class: "btn" %>
    <% end %>
  </div>

</div>