<div class='main-post-form'>
  <%= form_with url: user_posts_path(user), method: :post, scope: :post, class: 'post-form' do |form| %>
    <div>
      <%= form.text_field :title, placeholder: 'Title'  %>
    </div>
    <div>
      <%= form.text_area :text, placeholder: 'write your post...' %>
    </div>
    <div>
      <button type="submit" class="post-btn">
        Post
      </button>
    </div>
  <% end %>
</div>