<div class='main-post-form'>
  <div class='main-form'>
    <%= form_with url: user_posts_path(user), method: :post, scope: :post, class: 'post-form' do |form| %>
      <div class='fieldPost'>
        <%= form.text_field :title, placeholder: 'Title'  %>
      </div>
      <div class='text-area'>
        <%= form.text_area :text, placeholder: 'write your post...', class: 'actual' %>
      </div>
      <div class="post-btn-div">
       <%= form.submit "Post Now" %>
      </div>
    <% end %>
  </div>
</div>
